%span= image_tag 'arrow_top.png'
        %ul.more_list
          %li 
            = link_to "編集", edit_tweet_path(tweets.id), class:"tweet_edit"
          %li
            = link_to "削除",tweet_path(tweets.id), method: :delete
            = simple_format(tweets.text)
        = tweets.text
        = tweets.name
      