= render partial: 'shared/headerA'

.Link
  = link_to("新規投稿", new_tweet_path, class: "Link_new")

.Body
  = render partial: 'shared/left-content'
  .Body__content
    - @tweets.each do |tweets|
      .content_post{:style =>"background-image:url(#{tweets.image});"}
        %span
          = image_tag 'arrow_top.png'
          %li
            = link_to "編集", edit_tweet_path(tweets.id), class:"tweet_edit"
          %li 
            = link_to "削除",tweet_path(tweets.id), method: :delete
        = simple_format(tweets.text)
        = tweets.text
        = tweets.name
      




= render partial: 'shared/footerA'