= render partial: 'shared/headerA'

.Link
  = link_to("新規投稿", new_blog_path, class: "Link_new")

.Body
  = render partial:'shared/left-content'
  - @posts.each do |post|
    .Body__Content
      = link_to post.title, blog_path(post.id), class:"content"
      = post.created_at











= render partial: 'shared/footerA'