= render partial: 'shared/headerA'


.Bodya
  .Bodya__content 
    .Bodya__content__title
      = @post.title
    .Bodya__content__dete
      = @post.created_at
    -# .Bodya__content__text
    -#   = @post
    .Bodya__content__coment
      = simple_format @post.content









= render partial: 'shared/footerA'